@font-face {
     font-family: "Practicum";
     src: url("../fonts/Practicum.woff2") format("woff2"), url("../fonts/Practicum.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: "Borsok";
     src: url("../fonts/Borsok.woff2") format("woff2"), url("../fonts/Borsok.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}