:root {
    --black: #000;
    --white: #fff;
    --alabaster: #fbfbfb;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    outline: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

html,
body {
    height: 100%;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--white);
    font-family: "Borsok";
}

.page {
    overflow: hidden;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    padding: 9px 0;
}
.header--open .nav {
    top: 0;
}
.header__toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
}
.header__layer {
    height: 40px;
}
.header__border {
    height: 45px;
    position: absolute;
    top: -2px;
    left: -3px;
}
.header__shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s;
}
.header__toggle ~ .header__shadow--open {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/* Sandwich */
.sandwich {
    height: 20px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.sandwich__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    border-radius: 50%;
    transition: all linear 0.2s;
}
.sandwich__line--top {
    top: 0;
}
.sandwich__line--middle {
    top: 9px;
}
.sandwich__line--bottom {
    top: 17px;
}
.sandwich--active .sandwich__line--top {
    top: 8px;
    transform: rotate(45deg);
}
.sandwich--active .sandwich__line--middle {
    opacity: 0;
}
.sandwich--active .sandwich__line--bottom {
    top: 8px;
    transform: rotate(-45deg);
}

/* Nav */
.nav {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav__img20 {
    display: none;
    width: 280px;
    margin: 0 auto;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__item {
    position: relative;
}
.nav__item::before {
    content: "";
    position: absolute;
    background-image: url(../img/prev.png);
    background-size: cover;
    width: 33px;
    height: 33px;
    top: 15px;
    right: -10px;
    display: none;
    z-index: 1;
}
.nav__item::after {
    content: "";
    position: absolute;
    background-image: url(../img/next.png);
    background-size: cover;
    width: 33px;
    height: 33px;
    top: 15px;
    left: -15px;
    display: none;
}
.nav__item.active.nav__item::before,
.nav__item.active.nav__item::after {
    display: block;
}
.nav__item:hover.nav__item::before,
.nav__item:hover.nav__item::after {
    display: block;
}
.nav__item.active .nav__border-hidden {
    display: block;
}
.nav__item:hover .nav__border-hidden {
    display: block;
}
.nav__border {
    position: absolute;
    top: 0;
    left: -8px;
}
.nav__border-hidden {
    position: absolute;
    top: 0;
    left: -8px;
    display: none;
}
.nav__border-hover {
    position: absolute;
}
.nav__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    white-space: nowrap;
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.4);
}

/* Intro */
.intro {
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 163px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.intro::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 403px;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.intro__header {
    height: 200px;
    z-index: 2;
    position: relative;
}
.intro__img5 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.intro__body {
    height: 520px;
    background-image: url(../img/intro1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.intro__footer {
    height: 385px;
    position: relative;
    z-index: 1;
}
.intro__content {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    padding-top: 28px;
}
.intro__content::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0px;
    right: 35px;
    bottom: -18px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
.intro__img7 {
    position: absolute;
    left: -43px;
    bottom: -13px;
}
.intro__text {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}
.intro__img8 {
    position: absolute;
    right: 26px;
    bottom: -12px;
}

/* Video */
.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Title */
.title {
    position: absolute;
    top: 125px;
    left: 49.5%;
    transform: translate(-50%);
    font-size: 31px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    white-space: nowrap;
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.4);
}
.title__img {
    position: absolute;
    top: 86px;
    left: 50%;
    transform: translate(-50%);
}

/* Text */
.text {
    font-size: 22px;
    color: var(--alabaster);
    font-family: "Practicum";
    margin-bottom: 23px;
    margin-left: -30px;
}
.text span {
    font-style: italic;
}

/* Bottom */
.bottom__img {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

/* Popup */
.popup {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}
.popup.is-active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}
.popup.is-active .popup__content {
    transform: translateY(0);
}
.popup__wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.popup__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}
.popup__content {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/frame.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1%;
    transform: translateY(-100%);
    transition: transform 0.4s linear;
}

/* Player */
.tube-player-container {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
#tubeplayer-player-container-1 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* Крестик */
.close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: transform 0.2s, opacity 0.2s;
    z-index: 10;
    cursor: pointer;
    outline: none;
}
.close:hover {
    transform: scale(1.1);
}
.close:active {
    transform: scale(0.9);
    opacity: 0.8;
}
.close::before,
.close::after {
    content: "";
    background: linear-gradient(to bottom, #f7ff00, #db36a4);
    height: 50px;
    width: 5px;
    position: absolute;
    top: 50%;
    border-radius: 10px;
}
.close::before {
    transform: translateY(-50%) rotate(45deg);
}
.close::after {
    transform: translateY(-50%) rotate(-45deg);
}

/* Discipline */
.discipline {
    position: relative;
    margin-top: -90px;
    z-index: 1;
}
.discipline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 480px;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.discipline .title {
    top: 40px;
}
.discipline .title__img {
    top: 0;
    z-index: -1;
}
.discipline__header {
    height: 100px;
}
.discipline__body {
    position: relative;
    z-index: -2;
}
.discipline__footer {
    height: 620px;
    position: relative;
}
.discipline .bottom__img {
    bottom: 0;
    top: -38px;
}
.discipline__top {
    z-index: -1;
}
.discipline__slide {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.discipline__middle {
    max-width: 1230px;
    width: 100%;
    margin: 10px auto;
    position: relative;
}
.discipline__left,
.discipline__right {
    display: none;
}
.discipline__left img,
.discipline__right img {
    height: 45px;
}
.discipline__nav {
    width: auto !important;
    position: relative;
    margin: 25px;
    outline: none;
    cursor: pointer;
}
.discipline__nav::before {
    content: "";
    position: absolute;
    background-image: url(../img/prev.png);
    background-size: cover;
    width: 47px;
    height: 47px;
    top: 18px;
    right: -20px;
    display: none;
    z-index: 1;
}
.discipline__nav::after {
    content: "";
    position: absolute;
    background-image: url(../img/next.png);
    background-size: cover;
    width: 47px;
    height: 47px;
    top: 18px;
    left: -24px;
    display: none;
}
.discipline__nav.slick-current .discipline__border-hidden {
    display: block !important;
}
.discipline__nav:hover .discipline__border-hidden {
    display: block !important;
}
.discipline__nav.slick-current.discipline__nav::before,
.discipline__nav.slick-current.discipline__nav::after {
    display: block !important;
}
.discipline__nav:hover.discipline__nav::before,
.discipline__nav:hover.discipline__nav::after {
    display: block !important;
}
.discipline__border {
    position: absolute;
    top: -8px;
    left: -8px;
}
.discipline__border-hidden {
    position: absolute;
    top: -8px;
    left: -8px;
    display: none !important;
}
.discipline__name {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    white-space: nowrap;
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.4);
}
.slick-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discipline__bottom {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
.discipline__bottom::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 35px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
.discipline__item {
    display: flex !important;
    outline: none;
    padding-top: 25px;
    position: relative;
}
.discipline__img9 {
    margin-top: -10px;
    margin-left: -15px;
}
.discipline__text--1 {
    margin-left: 42px;
    margin-right: 50px;
}
.discipline__img10 {
    height: 239px;
    margin-bottom: -20px;
    margin-right: 50px;
}
.discipline__text--2 {
    margin-left: 70px;
    margin-right: -65px;
}
.discipline__img11 {
    height: 232px;
    margin-top: 40px;
    margin-left: -10px;
}
.discipline__text--3 {
    margin-left: 30px;
    margin-right: 90px;
}
.discipline__img12 {
    height: 222px;
    margin-right: 50px;
    margin-top: 30px;
}
.discipline__text--4 {
    margin-left: 70px;
    margin-right: -30px;
}

/* Lessons */
.lessons {
    margin-top: -55px;
    position: relative;
}
.lessons::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 465px;
    background-image: url(../img/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.lessons__header {
    height: 70px;
    position: relative;
}
.lessons .title {
    top: 17px;
    z-index: 1;
}
.lessons .title__img {
    top: -40px;
    z-index: 1;
}
.lessons__body {
    height: 525px;
    position: relative;
}
.lessons__footer {
    height: 444px;
    position: relative;
}
.lessons .bottom__img {
    bottom: 0;
    top: -38px;
    z-index: 2;
}
.lessons__content {
    max-width: 1148px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}
.lessons__content::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    right: 35px;
    bottom: 35px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
.lessons__text {
    margin: 15px 0 0 120px;
}
.lessons__img13 {
    margin-bottom: 25px;
    margin-right: 42px;
}

/* Project */
.project {
    position: relative;
    margin-top: -25px;
}
.project::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 471px;
    background-image: url(../img/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project__header {
    height: 35px;
    position: relative;
}
.project .title {
    top: -37px;
    z-index: 3;
}
.project .title__img {
    top: -78px;
    z-index: 2;
}
.project .bottom__img {
    top: -37px;
}
.project .text {
    margin-left: 0;
}
.project__body {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/img14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project__footer {
    height: 500px;
    position: relative;
    z-index: 1;
}
.project__top {
    text-align: center;
}
.project__label {
    font-size: 50px;
    font-family: "Practicum";
    text-transform: uppercase;
    outline: none;
}
.project__middle {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 0px 25px;
    position: relative;
}
.project__inner {
    margin: 0 70px;
}
.project__nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
    outline: none;
}
.project__img-hidden {
    display: none !important;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}
.project__nav:hover .project__img-hidden {
    display: block !important;
}
.project__nav.slick-current .project__img-hidden {
    display: block !important;
}
.project__name {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-align: center;
    white-space: nowrap;
    text-shadow: -3px 4px 4px rgba(0, 0, 0, 0.4);
}
.project__bottom {
    max-width: 1173px;
    width: 100%;
    margin: 20px auto;
    position: relative;
}
.project__bottom::before {
    position: absolute;
    content: "";
    top: -20px;
    left: 0px;
    right: 39px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
.project__content {
    max-width: 755px;
    width: 100%;
    margin: 0 auto;
}

/* Стрелки */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.arrow--left {
    left: 5px;
}
.arrow--right {
    right: 5px;
}

/* Workshop */
.workshop {
    position: relative;
    margin-top: -13px;
}
.workshop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 415px;
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.workshop .title {
    top: -23px;
    z-index: 1;
}
.workshop .title__img {
    top: -65px;
    z-index: 1;
}
.workshop__header {
    height: 45px;
    position: relative;
}
.workshop__body {
    height: 530px;
    position: relative;
}
.workshop__footer {
    height: 400px;
    position: relative;
    margin-top: -5px;
}
.workshop .bottom__img {
    top: -21px;
    left: 50%;
    z-index: 2;
}
.workshop__img19 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.workshop__content {
    max-width: 1115px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    z-index: 3;
}
.workshop__text {
    margin: 0 15px 0 90px;
}
.workshop__img13 {
    height: 300px;
    margin-top: -20px;
    margin-right: 30px;
}
.workshop__content::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
}
